// STATIC
$white: #fff;
$black: #000;

// BRAND COLORS
$blue: #4d58de;
$pink: #fd586b;
$orange: #feaa48;
$yellow: #ffd723;
$green: #00be65;
$light_blue: #36deed;

// TEXT
$main_text: #252733;
$secondary_text: #9fa2b4;
$thirdly_text: #579ec0;

// BACKGROUND
$main_background: #f7f8fc;

// BORDER
$main_border: #dfe0eb;

// SHADOW
$main_shadow: rgba(0, 0, 0, 0.04);
