@import '../../../styles/colors.scss';


.card{
    width: max-content;
    border: 1px solid $primary;
    padding: 12px;
    margin: 4px 8px;     
    cursor: pointer;
        
    span{
        max-inline-size: fit-content;
        padding: 4px 0;

    }
    img{
        width: 120px;
    }
    div{
        div{
        }
        button{
            margin-left: 4px;
            border: none;
            background-color: $primary;
            border-radius: 4ch;
            width: max-content;
        }
    }
}

.book{
    border: 1px solid $warning;
    button{
        background-color: $warning;
    }
}
.active{
    background: $secondary;
}