@import './styles/colors.scss';


div{
    div{
      button{
        z-index: 1000000;
        position: fixed;
        right:  7.5px;
        bottom: 50px;
        border: none;
        border-radius: 2px;
        background-color: $primary;
      }
    }
}

.app-wrapper{
  button{
    border-radius: 4ch;
    p{
      margin-bottom: 0;

    }
  }
}







.app-wrapper {
 padding-right: 90px;
}
.MuiAppBar-colorPrimary {
  color: rgb(121, 119, 119) !important;
 background-color: #fff !important; 
 box-shadow: none !important;
}

.makeStyles-drawerPaper-20 {
  background-color: #ECEFF8 !important;
}
.MuiInputBase-root {
  border: 1px solid rgb(148, 147, 147);
  border-radius: 10px;
}
.LeftBar_punkt__28AaB{
  color:rgb(92, 92, 92) ;
}
.makeStyles-drawerPaper-12:hover{
  background-color: #fff;
}
.makeStyles-drawerPaper-12 {
  background-color: rgb(241, 241, 241) !important;
  transition: .3s;
}
.ToolbarComponent-menuButton-2 {
  display: none !important;
  display: none !important;
}



