


$dark:  rgb(36, 36, 36);
$danger: rgb(255, 0, 0);
$secondary: rgb(109, 109, 109);
$primary: rgb(80, 122, 238);
$success: rgb(16, 107, 51);
$info: rgb(95, 218, 255);
$warning: rgb(255, 166, 0);
$light: rgb(184, 185, 185);

