.menu{
    div{
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
@media(max-width: 700px){
    .menu{
    div{
        div{
            justify-content: space-around;
        }
    }
}
} 