@import '../../styles/colors.scss';

.menu{
    div{
        ul{
            display: contents;
            li{
                margin: 4px;
                display: flex;
                h1{
                font-family: ui-monospace;
                border: 1px solid $primary;
                border-radius: 4px;
                padding: 0 8px;
                color: $warning;
                }
                h1:hover{
                    color:$primary;
                    cursor: pointer;
                }
            }
        }
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
@media(max-width: 700px){
    .menu{
    div{
        div{
            justify-content: space-between;
        }
    }
}
} 