@import '../../styles/colors.scss';

.menu{
    div{
        ul{
            display: flex; 
            width: 100%;
            overflow: scroll;
            padding-left: 0;
            overflow-y: hidden;
            li{
                margin: 4px;
                display: flex;
                h1{
                font-family: ui-monospace;
                border: 1px solid $primary;
                border-radius: 4px;
                padding: 0 8px;
                color: $warning;
                }
                h1:hover{
                    color:$primary;
                    cursor: pointer;
                }
            }
        }
        div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            b{

            }
            h7{
                cursor: pointer;
                margin-left: 37px;
            }
            ul{ z-index: 100000;
                width: fit-content;
                position: fixed;
                right: 162px;
                top: 74px;
                display: inline;
                overflow-x: hidden;
                border: 1px solid $light;
                background: $light;
                border-radius: 4px;
                li{
                    background: $secondary;
                    border-radius: 4px;
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }
        }
    }
}
.active{
    color: $warning;
    font-weight: bold;
}